
  <nav class="blue-grey">
    <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Quiz</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a (click)="SignOut()">Signout</a>
      </li>
    </ul>
    </div>

  </nav>  
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"(click)="sidenav.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>
    
      

    <mat-sidenav-container color="primary">
      <mat-sidenav #sidenav >
        <mat-nav-list >
    
          <a mat-list-item *ngFor="let employee of emp" routerLink="/quiz" (click)="quiza(employee)"> {{employee.name}}</a>
          <a mat-list-item  routerLink="/question" mat-list-item>Close</a>
          <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 22vh;">
         
          
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container> 
  

