
 <button mat-icon-button>
  <mat-icon (click)="sidenav.toggle()">Menu</mat-icon>
</button>
  
  
    
  
  <mat-sidenav-container color="primary">
    <mat-sidenav #sidenav >
      <mat-nav-list >
  
        <a mat-list-item *ngFor="let employee of emp" routerLink="/quiz" (click)="quiza(employee)"> {{employee.name}}</a>
        <a mat-list-item  routerLink="/question" mat-list-item>Close</a>
        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>